In [7]:
# Working on the dictionaries using zip function
#Zip combines two or more iterable elements into the tuples
names = ['Dharani','sahana','anjali']
age = [22,20,21]
student = dict(zip(names,age,))
print(student)
for i in zip(names,age,):
    print(i)

{'Dharani': 22, 'sahana': 20, 'anjali': 21}
('Dharani', 22)
('sahana', 20)
('anjali', 21)

In [11]:
# all function :It will check if all the elements are ture then it will give true .if any one element is false it will return false
lst = [True,True,True]
res = all(lst)
print(res)

lst2 = [0==0,1==1,2==3]
res = all(lst2)
print(res)

True
False

In [13]:
#any function checks if any one element is true
lst = [True,True,True]
res = any(lst)
print(res)

lst2 = [0==0,1==1,2==3]
res = any(lst2)
print(res)

True
True

In [3]:
#STRINGS
a = "k"
print(a)
a = '''time is money'''
print(a)
a = "skyllx for s 'reason'"
print(a)

A='a'
print(A)
print(id(A))

A2 = 'a'
print(A2)
print(id(A2))

k
time is money
skyllx for s 'reason'
a
140720359918680
a
140720359918680

In [5]:
a = "hello"
b = "world"
print(id(a[2]))
print(id(a[4]))

140720360618344
140720360618512

In [7]:
#Formatting of a string
s1 = "skyllx"
s2 = "for"
s3 = "tech"
s4 = ({} {} {}).format(s1,s2,s3)
print(s4)

AttributeError: 'tuple' object has no attribute 'format'